<div class="border mt-2 mb-3 pb-5">
    <header class="w-100 m-0">
        <img src="/images/web-banner.png" class="img-fluid" alt="web-banner">
    </header>
    <div>
        <h1 class="text-success fw-light fs-1 text-center m-3"><span class="text-danger"> <%= jobs.position %></span> oppertunity in <%= jobs.location %> at <span class="text-info"> <%= jobs.company %></span></h1>
    </div>

<% if(locals.userEmail) {%>
    <div class="ms-3 mb-4 d-flex">
        <span style="width: 160px" class="bg-warning border p-1 rounded fw-light fs-5">
            Actively hiring <img src="https://cdn-icons-png.flaticon.com/128/5668/5668104.png" width="15px">
        </span>
        <div class="mt-1">
            <img src="/images/Update.png" width="25" onclick="updateJob('<%= jobs.id %>')" class="ms-4 pe-auto" style="cursor: pointer;">
            <img class="ms-2" src="/images/Delete.png" onclick="deleteJob('<%= jobs.id %>')" width="25" style="cursor: pointer;"> 
        </div>
    </div>
    <% } %>
    <div class="ms-4">
        <h3 class="fw-light"><%= jobs.company %></h3>
        <h5 class="fw-light"><%= jobs.category %> <span class="text-success"> <%= jobs.position %></span></h5>
        <ul class="fw-light fs-5" style="list-style-type:none;">
            <li><img src="https://cdn-icons-png.flaticon.com/128/9077/9077975.png" width="22"> <%= jobs.location %></li>
            <li><img src="https://cdn-icons-png.flaticon.com/128/6366/6366707.png" width="20" > <%= jobs.salary %> lpa</li>
            <li><img src="https://cdn-icons-png.flaticon.com/128/786/786017.png" width="18"> Apply By <%= jobs.date %></li>
            <li><img src="https://cdn-icons-png.flaticon.com/128/5444/5444054.png" width="18"> Number of openings <%= jobs.numOfOpenings %></li>
            <% if(locals.userEmail) {%>
            <li><a href="/jobs/applicants/<%= jobs.id %>" style="text-decoration: none; color: #e40467;"><img src="/images/people.png" width="19"> Applicants <%= user %></a></li>
            <% } else { %>
            <li><a href="/jobs/<%= jobs.id %>" style="text-decoration: none; color: #e40467;"><img src="/images/people.png" width="19"> Applicants <%= user %></a></li>
            <% } %>
        </ul>
        <div class="ms-4">
            <% if (jobs.skills.length > 0) { %>
                <% jobs.skills.forEach((skillName) => { %>
                <button class="btn btn-sm btn-outline-info mb-1"><%= skillName %></button>
                <% }) %>
            <% } %>
        </div>
        <div class="ms-4 mb-3 mt-2">
            <button data-bs-toggle="modal" data-bs-target="#applyModal" class="btn fw-light btn-md btn-primary px-5 my-2">
                Apply Now
            </button>
        </div>
        <small class="text-body-secondary">
        <% if(locals.lastVisit) { %>
        <span style="width: 180px" class="bg-success text-white fw-light fs-6 border border-success p-1 border-opacity-50 rounded">
            Posted: <%= locals.lastVisit %>
        </span>
        <% } %>
    </small>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fw-light text-success fs-5" id="applyModalLabel">easily</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fw-normal fs-6">
                <h2 class="fw-light text-center">apply in less than 1 minute</h2>
                <form action="/apply/<%= jobs.id %>" method="post" enctype="multipart/form-data">
                    <input type="hidden" class="form-control" id="id" name="id" value="<%= jobs.id %>">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control fw-light" id="name" name="name" placeholder="test" >
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control fw-light" id="email" name="email" step="0.01" placeholder="test@gmail.com"  >
                    </div>
                    <div class="mb-3">
                        <label for="contact" class="form-label">Contact</label>
                        <input type="number" class="form-control fw-light" id="contact" name="contact" step="0.01" placeholder="+91 1234567890"  >
                    </div>
                    <div class="mb-3">
                        <label for="resume" class="form-label">Resume</label>
                        <input type="file" class="form-control fw-light" id="resume" name="resume" accept=".pdf">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary fw-light">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>