<div class="min-vh-100">
  <div class="container mx-auto p-2 d-flex align-items-centre justify-content-around flex-wrap fw-light">
    <% jobs.forEach((job) => { %>
    <div class="card border-white m-3 bg-theme text-capitalize" style="max-width: 18rem">
        <div class="card-header d-flex flex-column align-items-centre justify-content-start p-2">
          <span style="width: 160px" class="bg-primary bg-opacity-25 text-white border border-success p-1 border-opacity-50 rounded">
            Actively hiring <img src="/images/trending.png" width="20px">
          </span>
          <h5 class="my-1 fw-normal fs-4 mt-2 mb-2 text-warning"><%= job.company %></h5>
          <div class="fs-5">
            <span><%= job.category %></span>
            <span class="text-info"><%= job.position %></span>
          </div>
        </div>
        <div class="card-body d-flex align-items-centre justify-content-center flex-column">
          <p class="fw-normal">
            <i class="fa-solid fa-location-dot"></i> <%= job.location %>
          </p>
          <p class="fw-normal text-lowercase">
            <i class="fa-solid fa-indian-rupee-sign"></i> <%= job.salary %> lpa
          </p>
          <div class="skills p-1">
            <% if (job.skills.length > 0) { %>
              <% job.skills.forEach((skillName) => { %>
              <button class="btn btn-sm btn-outline-info mb-1"><%= skillName %></button>
              <% }) %>
            <% } %>
            <div class="text-center">
              <a href="/jobs/<%= job.id %>" class="btn btn-sm w-100 btn-outline-success fw-normal my-2">
                View details
              </a>
            </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
